<div class="p-4">
  <!--  Header  -->
  <div class="flex justify-center items-center ml-52 mr-52 mt-12 mb-8">
    <button (click)="goBack()" class="">
      <img src="assets/images/X.png" class="h-6 w-auto">
    </button>

    <div class="h-6 w-3/4 bg-costumGray rounded-2xl shadow-lg mx-12 relative">
      <div class="absolute h-full bg-blue-500 rounded-2xl transition-all duration-300" [style.width.%]="(progress / totalSegments) * 100"></div>
    </div>

    <button (click)="extendQuestion()" class="">
      <img src="assets/images/question-mark.png" class="h-6 w-auto">
    </button>
  </div>

  <div *ngIf="showHelpMessage" class="absolute right-0 max-w-xs z-10 bg-costumLightGray p-4 rounded shadow-lg text-right mr-24">
    Wir sind nicht die wo antworten haben
  </div>



  <div *ngIf="progress < totalSegments" class="mt-4 justify-center items-center flex font-semibold text-4xl">
    <ng-container *ngIf="action == 'lies'; else otherAction">

      <ng-container *ngIf="toneType == 'Intervalle'; else otherAction">
        Wie ist der Name dieses Intervalls?
      </ng-container>
      <ng-template #otherAction>
        Bezeichne die Note
      </ng-template>

    </ng-container>
    <ng-template #otherAction>

      <ng-container *ngIf="toneType == 'Intervalle'; else otherAction">
        Schreibe das Intervall {{ currentQuestion }}
      </ng-container>
      <ng-template #otherAction>
        <ng-container *ngIf="toneType == 'Tonleitern'; else otherAction">
          Bestimme die Tonleiter
        </ng-container>
        <ng-template #otherAction>
          Markiere die Note: {{ currentQuestion }}
        </ng-template>
      </ng-template>

    </ng-template>
  </div>

  <div *ngIf="progress < totalSegments" class="flex justify-center mt-24 flex-col">
    <ng-container *ngIf="toneType == 'Stammtoene' || toneType == 'Tonleitern'; else notensystemTemplate">
      <app-piano [action]="action" [currentQuestion]="currentQuestion" [toneType]="toneType" (enableButton)="onSelectedKeyChanged($event)"></app-piano>
    </ng-container>
    <ng-template #notensystemTemplate>
      <app-notesystem [action]="action" [currentQuestion]="currentQuestion" [isIntervall]="isIntervall" (enableButton)="onSelectedKeyChanged($event)"></app-notesystem>
    </ng-template>

    <div *ngIf="action == 'lies' || action == 'bestimme'" class="flex justify-center">

      <div *ngIf="toneType == 'Intervalle'">
        <button
          *ngFor="let interval of ['Prime', 'Sekunde', 'Terz', 'Quarte', 'Quinte', 'Sexte', 'Septime', 'Oktave']"
          #button
          [disabled]="!letters?.includes(interval)"
          [ngClass]="{
            'bg-green-500 text-white': lastPressedLetter == interval,
            'enabled-button-intervall': letters?.includes(interval),
            'disabled-button-intervall': !letters?.includes(interval)
          }"
          class="mr-4 p-2 rounded"
          (click)="checkIfRight(interval, button)">
          {{ interval }}
        </button>
      </div>

      <div *ngIf="toneType == 'Stammtoene' || toneType == 'Notensystem'">
        <button
          *ngFor="let letter of ['c', 'd', 'e', 'f', 'g', 'a', 'h']"
          #button
          [disabled]="!letters?.includes(letter)"
          [ngClass]="{
            'bg-green-500 text-white': lastPressedLetter == letter,
            'enabled-button': letters?.includes(letter),
            'disabled-button': !letters?.includes(letter)
          }"
          class="mr-4 p-2 rounded"
          (click)="checkIfRight(letter, button)">
          {{ letter }}
        </button>
      </div>

      <div *ngIf="toneType == 'Tonleitern'">
        <button
          *ngFor="let letter of ['Dur', 'Natürliches Moll', 'Harmonisches Moll', 'Melodisches Moll']"
          #button
          [disabled]="!letters?.includes(letter)"
          [ngClass]="{
            'bg-green-500 text-white': lastPressedLetter == letter,
            'enabled-button-tonleiter': letters?.includes(letter),
            'disabled-button-tonleiter': !letters?.includes(letter)
          }"
          class="mr-4 p-2 rounded"
          (click)="checkIfRight(letter, button)">
          {{ letter }}
        </button>
      </div>
    </div>

    <div class="flex justify-center z-1" *ngIf="action == 'schreibe'">
      <div class="flex-1 flex justify-center z-1" style="margin-top: -45px;">
        <button
          (click)="toneType == 'Notensystem' ? checkIfRightNotensystem() : checkIfRightNotensystemIntervalle()"
          class="text-white bg-blue-500 px-4 py-2 rounded hover:bg-blue-700">
          Antworten
        </button>
      </div>
    </div>


    <div class="flex justify-center" *ngIf="action == 'markiere'">
      <button [disabled]="buttonDisabled"
            [ngClass]="{
              'text-black border-gray-400': buttonDisabled,
              'text-white bg-costumBlue hover:bg-blue-600': !buttonDisabled
            }"
            class="p-2 px-4 rounded-3xl text-lg w-32 border"
            (click)="checkIfRightMark()">
        Antworten
      </button>

     </div>
  </div>


  <!-- Progressbar -->

  <div *ngIf="progress == totalSegments" class="flex flex-col justify-center items-center p-6">
    <p class="text-4xl font-semibold">Du hast die Übung erfolgreich abgeschlossen!</p>

    <div class="relative my-4">
      <svg width="200" height="200" viewBox="0 0 100 100" class="mx-auto">
        <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#6496FF"
            stroke-width="10"
            fill="none"
            stroke-linecap="round"
        />
        <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#FFFFFF"
            stroke-width="11"
            fill="none"
            [attr.stroke-dasharray]="dashArray + ', 1000'"
            [attr.stroke-dashoffset]="dashOffset"
            transform="rotate(-90 50 50)"
        />
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" class="text-xl font-bold">Super!</text>
      </svg>
    </div>
    <p class="text-2xl font-semibold">Bewertung</p>
    <span class="font-bold text-xl text-green-600">{{ evaluation }}</span>
    <p class="text-lg">
        <span class="font-bold">{{ correctAnswers }}</span>/{{ totalQuestions }} Fragen richtig
    </p>
    <div class="mt-8 flex gap-10">
      <button (click)="goBack()" class="bg-costumBlue py-2 px-3 text-lg rounded-2xl font-medium w-40 hover:bg-blue-500 hover:shadow-lg transition duration-200">Zurück</button>
      <button (click)="nextTask()" class="bg-costumBlue py-2 px-3 text-lg rounded-2xl font-medium w-40 hover:bg-blue-500 hover:shadow-lg transition duration-200">Nächste Übung</button>
    </div>
  </div>
</div>
