<div class="p-4">
  <!--  Header  -->
  <div class="flex justify-center items-center ml-52 mr-52 mt-12 mb-8">
    <button (click)="goBack()" class="">
      <img src="assets/images/X.png" class="h-6 w-auto">
    </button>

    <div class="h-6 w-3/4 bg-costumGray rounded-2xl shadow-lg mx-12 relative">
      <div class="absolute h-full bg-blue-500 rounded-2xl transition-all duration-300" [style.width.%]="(progress / totalSegments) * 100"></div>
    </div>

    <span class="text-sm text-gray-600 font-medium h-6 w-auto">
      {{ progress }}/{{ totalSegments }}
    </span>
  </div>

  <div *ngIf="progress < totalSegments" class="-mt-4 justify-center items-center flex font-semibold text-4xl">
    {{ instruction() }}
  </div>

  <div *ngIf="progress < totalSegments" class="flex items-center justify-center mt-24 flex-col">
    <ng-container *ngIf="this.notationType=='Klavier' || this.exerciseModus=='Schreiben'; else abcNotationTemplate">
      <ng-container *ngIf="exerciseType == 'StammtoeneKlavier' || exerciseType == 'Tonleitern'; else notensystemTemplate">
        <app-piano [action]="this.exerciseModus" [currentQuestion]="this.shuffledContents[this.currentIndex]" [toneType]="this.notationType" (enableButton)="onSelectedKeyChanged($event)"></app-piano>
      </ng-container>
      <ng-template #notensystemTemplate>
        <app-notesystem [action]="this.exerciseModus" [currentQuestion]="this.shuffledContents[this.currentIndex]" [isIntervall]="false" (enableButton)="onSelectedKeyChanged($event)"></app-notesystem>
      </ng-template>
    </ng-container>
    <ng-template #abcNotationTemplate>
      <div class="w-full flex items-center flex-col">
        <div #abcContainer id="abc-container"></div>
      </div>
    </ng-template>

    <div>
      <button
        *ngFor="let answers of allAnswers()"
        #button
        [disabled]="!possibleAnswers?.includes(answers)"
        [ngClass]="{
          'bg-green-500 text-white': lastPressedLetter == answers,
          'enabled-button': possibleAnswers?.includes(answers),
          'disabled-button': !possibleAnswers?.includes(answers)
        }"
        class="mr-4 p-2 rounded"
        (click)="checkIfRightButton(answers, button)">
        {{ answers }}
      </button>
    </div>

    <div class="relative flex flex-col items-center justify-center mt-12 h-6" *ngIf="exerciseModus !== 'Schreiben'">
      <h1
          *ngIf="showStatusText"
          [ngClass]="{
            'text-green-500': isCorrect,
            'text-red-500': !isCorrect
          }"
          class="text-3xl font-bold fade-in-up z-20 transition-all duration-700"
        >
          {{ isCorrect ? 'Richtig!' : 'Falsch!' }}
      </h1>

      <canvas #confettiCanvas class="absolute -top-12 left-1/2 -translate-x-1/2 w-40 h-40 pointer-events-none z-[9999]"></canvas>
    </div>

    <div class="flex justify-center z-1" *ngIf="exerciseModus == 'Schreiben'">
      <div class="flex-1 flex justify-center z-1"   [ngStyle]="{
        'margin-top': exerciseType === 'StammtoeneKlavier' ? '-10px' : '-45px'
      }">
        <button
          (click)="checkRightWriting()"
          class="text-white bg-costumBlue p-1 px-4 py-2 rounded-3xl hover:bg-blue-600">
          Antworten
        </button>
      </div>
    </div>

    <div class="relative flex flex-col items-center justify-center mt-12 h-6" *ngIf="exerciseModus === 'Schreiben'">
      <h1
          *ngIf="showStatusText"
          [ngClass]="{
            'text-green-500': isCorrect,
            'text-red-500': !isCorrect
          }"
          class="text-3xl font-bold fade-in-up z-20 transition-all duration-700"
        >
          {{ isCorrect ? 'Richtig!' : 'Falsch!' }}
      </h1>

      <canvas #confettiCanvas class="absolute -top-12 left-1/2 -translate-x-1/2 w-40 h-40 pointer-events-none z-[9999]"></canvas>
    </div>
  </div>
  <!-- Progressbar -->
  <div *ngIf="progress == totalSegments" class="flex flex-col justify-center items-center p-6">
    <p class="-mt-4 text-4xl font-semibold">Du hast die Übung erfolgreich abgeschlossen!</p>

    <div class="relative my-4">
      <svg width="200" height="200" viewBox="0 0 100 100" class="mx-auto">
        <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#6496FF"
            stroke-width="10"
            fill="none"
            stroke-linecap="round"
        />
        <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#FFFFFF"
            stroke-width="11"
            fill="none"
            [attr.stroke-dasharray]="dashArray + ', 1000'"
            [attr.stroke-dashoffset]="dashOffset"
            transform="rotate(-90 50 50)"
        />
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" class="text-xl font-bold">Super!</text>
      </svg>
    </div>
    <p class="text-2xl font-semibold">Bewertung</p>
    <span class="font-bold text-xl text-green-600">{{ evaluation }}</span>
    <p class="text-lg">
        <span class="font-bold">{{ firstAttemptCorrectCount }}</span>/{{ totalSegments }} Fragen richtig
    </p>
    <div class="mt-8 flex gap-10">
      <button (click)="goBack()" class="bg-costumBlue py-2 px-3 text-lg rounded-2xl font-medium w-40 hover:bg-blue-500 hover:shadow-lg transition duration-200">Zurück</button>
      <button (click)="nextTask()" class="bg-costumBlue py-2 px-3 text-lg rounded-2xl font-medium w-40 hover:bg-blue-500 hover:shadow-lg transition duration-200">Nächste Übung</button>
    </div>
  </div>
</div>
