<div class="flex justify-center items-start min-h-screen pt-24">
  <div class="flex flex-col justify-between items-center p-6 bg-costumGray drop-shadow-md w-full max-w-md rounded-lg">
    <div class="text-2xl font-semibold mb-4">Registrierung</div>

    <div class="flex flex-col w-full space-y-4 mb-6">
      <input
      type="email"
      placeholder="Email"
      class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="email"
      >
      <input
        type="text"
        placeholder="Benutzername"
        class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        [(ngModel)]="username"
      >
      <input
        type="password"
        placeholder="Passwort"
        class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        [(ngModel)]="password"
      >
      <input
        type="password"
        placeholder="Passwort bestätigen"
        class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        [(ngModel)]="confirmPassword"
      >
    </div>

    <div *ngIf="errorMessage()" class="transform bg-red-500 text-white py-2 px-6 rounded-lg shadow-lg flex items-center justify-between w-96" [class.error-highlight]="errorHighlighted()">
      <span>{{ errorMessage() }}</span>
      <button class="ml-4 text-white text-xl font-bold focus:outline-none" (click)="errorMessage.set('')">✖</button>
    </div>

    <!-- Sign Up Button -->
    <div class="bg-costumBlue text-white py-2 px-6 rounded-3xl text-lg hover:bg-blue-600 flex justify-center items-center mt-4 cursor-pointer"
         (click)="signUp()">
      Sign up
    </div>
  </div>
</div>

<div *ngIf="showModal()" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-500 bg-opacity-75">
  <div class="bg-white p-8 rounded-lg shadow-xl w-96 text-center">
    <h2 class="text-xl font-semibold mb-4">Registrierung Erfolgreich</h2>
    <p class="text-lg mb-6">Bitte bestätigen Sie Ihre E-Mail. Fahren Sie dann in dem Fenster der E-Mail fort und schließen Sie dieses.</p>
    <button (click)="closeModal()" class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700">Schließen</button>
  </div>
</div>
