@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:flex {
  display: flex;
}

.group-hover\:flex {
  display: none;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
