@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:flex {
  display: flex;
}

.group-hover\:flex {
  display: none;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@layer utilities {
  .animate-wobbleA { animation: wobbleA 5.5s ease-in-out infinite; }
  .animate-wobbleB { animation: wobbleB 5.2s ease-in-out infinite; }
  .animate-drift   { animation: driftSlow 24s linear infinite; }
  .animate-drift-2 { animation: driftSlow 30s linear infinite; } /* 2. Variante */
}
