<div class="space-y-6 flex flex-col items-center w-2/3 justify-center mx-auto relative">
  <img src="assets/images/violinschlüssel.png" class="w-18 h-44 -top-2 absolute left-4 z-10">

  <div class="space-y-6 w-full relative -top-6">
    <div class="group relative -top-2">
      <div class="h-0.5 bg-black w-14 ml-24"
           [ngClass]="{
              'opacity-0': !selectedCircle[1] && !hoveredExtraLine[1],
              'opacity-50': !selectedCircle[1] && hoveredExtraLine[1],
              'opacity-100': selectedCircle[1] && hoveredExtraLine[1]}"
           [id]="1"></div>
      <div class="absolute inset-x-0 -top-2.5 -bottom-2.5 cursor-pointer"
           (mouseover)="setHoveredExtraLine(1, true)"
           (mouseout)="setHoveredExtraLine(1, false)"
           (click)="toggleExtraLine(1)">
        <img src="assets/images/kreis.png"
             [class.hidden]="!selectedCircle[1]"
             [ngStyle]="{
              'filter': selectedCircleColor[1]
                ? 'invert(20%) sepia(90%) saturate(500%) hue-rotate(' + getHueRotation(selectedCircleColor[1]) + 'deg)'
                : 'none'
            }"
            [class.opacity-50]="!selectedCircle[1]"
             class="group-hover:block w-6 h-6 ml-28" />
      </div>
    </div>

    <div class="group relative -top-7">
      <div
          class="inset-x-0 h-3 cursor-pointer"
          (click)="showCircle(2)"
          (mouseover)="setHoveredExtraLine(2, true)"
          (mouseout)="setHoveredExtraLine(2, false)">

        <img src="assets/images/kreis.png"
             [class.hidden]="!selectedCircle[2]"
             [ngStyle]="{
              'filter': selectedCircleColor[2]
                ? 'invert(20%) sepia(90%) saturate(500%) hue-rotate(' + getHueRotation(selectedCircleColor[2]) + 'deg)'
                : 'none'
              }"
              [class.opacity-50]="!selectedCircle[2]"
              class="group-hover:block w-6 h-6 ml-28" />
      </div>
    </div>

    <div *ngFor="let i of [3, 5, 7, 9, 11]; let last = last">
      <div class="group relative -top-10">
        <div class="h-0.5 bg-black w-full" [id]="i"></div>
        <div class="absolute inset-x-0 -top-2.5 -bottom-2.5 cursor-pointer"
             (click)="showCircle(i)">
          <img src="assets/images/kreis.png"
             [class.hidden]="!selectedCircle[i]"
             [ngStyle]="{
               'filter': selectedCircleColor[i]
                 ? 'invert(20%) sepia(100%) saturate(500%) hue-rotate(' + getHueRotation(selectedCircleColor[i]) + 'deg)'
                 : 'none'
             }"
             [class.opacity-50]="!selectedCircle[i]"
             class="group-hover:block w-6 h-6 ml-28" />

        </div>
      </div>

      <div *ngIf="!last" class="group relative -top-10">
        <div class="absolute inset-x-0 h-3 cursor-pointer" [id]="i+1"
          (click)="showCircle(i+1)">

          <img src="assets/images/kreis.png"
               [class.hidden]="!selectedCircle[i+1]"
               [ngStyle]="{
                'filter': selectedCircleColor[i+1]
                  ? 'invert(20%) sepia(100%) saturate(500%) hue-rotate(' + getHueRotation(selectedCircleColor[i+1]) + 'deg)'
                  : 'none'
              }"
               [class.opacity-50]="!selectedCircle[i+1]"
               class="group-hover:block w-6 h-6 ml-28" />
        </div>
      </div>
    </div>

    <div class="group relative -top-16">
      <div
          class="inset-x-0 h-3 cursor-pointer"
          (click)="showCircle(12)"
          (mouseover)="setHoveredExtraLine(12, true)"
          (mouseout)="setHoveredExtraLine(12, false)">

        <img src="assets/images/kreis.png"
             [class.hidden]="!selectedCircle[12]"
             [ngStyle]="{
              'filter': selectedCircleColor[12]
                ? 'invert(20%) sepia(90%) saturate(500%) hue-rotate(' + getHueRotation(selectedCircleColor[12]) + 'deg)'
                : 'none'
              }"
            [class.opacity-50]="!selectedCircle[12]"
             class="group-hover:block w-6 h-6 ml-28" />
      </div>
    </div>

    <div class="group relative -top-19">
      <div class="h-0.5 bg-black w-14 ml-24"
        [ngClass]="{
            'opacity-0': !selectedCircle[13] && !hoveredExtraLine[13],
            'opacity-50': !selectedCircle[13] && hoveredExtraLine[13],
            'opacity-100': selectedCircle[13]
          }"
           id="13"></div>
      <div class="absolute inset-x-0 -top-2.5 -bottom-2.5 cursor-pointer"
           (mouseover)="setHoveredExtraLine(13, true)"
           (mouseout)="setHoveredExtraLine(13, false)"
           (click)="toggleExtraLine(13)">
        <img src="assets/images/kreis.png"
             [class.hidden]="!selectedCircle[13]"
             [ngStyle]="{
             'filter': selectedCircleColor[13]
             ? 'invert(20%) sepia(90%) saturate(500%) hue-rotate(' + getHueRotation(selectedCircleColor[13]) + 'deg)'
                : 'none'
              }"
            [class.opacity-50]="!selectedCircle[13]"
             class="group-hover:block w-6 h-6 ml-28" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="action !== 'lies'" class="mr-96 flex justify-center items-center z-10">
  <div class="p-2 rounded-xl border-2 w-12 h-12 flex justify-center items-center z-10"
  [ngStyle]="{'border-color': isErasing ? '#6496FF' : 'black'}"
  (click)="eraser()">
  <img src="assets/images/eraser.png" class="cursor-pointer"
    [ngStyle]="{'filter': isErasing ? 'invert(55%) sepia(6%) saturate(4760%) hue-rotate(185deg) brightness(104%) contrast(104%)' : 'none'}">
  </div>
</div>
