<div class="mt-14 text-center">
  <p class="font-bold text-4xl">Lerne für deine Übertrittprüfung kostenlos!</p>

  <p class="mt-4 font-normal text-xl">
    Du willst deine Fähigkeit Musiknoten zu lesen, zu schreiben oder zu <br>
    spielen verbessern <br>
    Dann bist du bei SimTune genau richtig! <br>
  </p>

  <div class="mt-5 drop-shadow-md">
    <a routerLink="/uebungen" class="bg-costumBlue text-white p-1 px-4 rounded-3xl text-lg hover:bg-blue-600">Beginne zu üben</a>
  </div>
</div>

<div class="flex justify-between items-center p-2 bg-costumLightGray drop-shadow-md mt-20">
  <a routerLink="" class="flex flex-row items-center font-semibold text-xl ml-56">
    <div class="bg-costumGray p-3 drop-shadow-md rounded-full mr-3">
      <img src="assets/images/Töne.png" class="h-7 w-auto">
    </div>

    <span>Töne</span>
  </a>

  <a routerLink="" class="flex flex-row items-center font-semibold text-xl">
    <div class="bg-costumGray p-2.5 drop-shadow-md rounded-full mr-3">
      <img src="assets/images/Rythmus.png" class="h-8 w-auto">
    </div>
    <span>Rythmus</span>
  </a>

  <a routerLink="" class="flex flex-row items-center font-semibold text-xl">
    <div class="bg-costumGray p-2 drop-shadow-md rounded-full mr-3">
      <img src="assets/images/Intervalle.png" class="h-9 w-auto">
    </div>
    <span>Intervalle</span>
  </a>

  <a routerLink="" class="flex flex-row items-center font-semibold text-xl mr-56">
    <div class="bg-costumGray p-2 drop-shadow-md rounded-full mr-3">
      <img src="assets/images/Tonarten.png" class="h-9 w-auto">
    </div>
    <span>Tonarten</span>
  </a>
</div>

<div>
  <div class="ml-56 mt-14">
    <p class="text-4xl font-bold">Für Schulen gemacht</p>
    <p class="mt-3 text-xl">
      Unser Feature mit Gruppen von verschiedenen <br>
      Schulen, welche die Lehrkräfte erstellen können, <br>
      ist perfekt zum lernen!
    </p>
  </div>
</div>
