@tailwind base;
@tailwind components;
@tailwind utilities;

.gray-circle {
  background-color: gray;
  border-radius: 50%;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
