<div class="flex text-2xl ml-32 mt-12">
  <p class="text-gray-400">
    <ng-container *ngFor="let breadcrumb of breadcrumb_elements(); let last = last">
      <ng-container *ngIf="!last">
        <a [routerLink]="breadcrumb.url">
          {{ breadcrumb.label }}
        </a>
        <span> → </span>
      </ng-container>
      <ng-container *ngIf="last">
        <a [routerLink]="breadcrumb.url" class="font-semibold text-black">
          {{ breadcrumb.label }}
        </a>
      </ng-container>
    </ng-container>
  </p>
</div>

@if (taskType() != '') {
  <div id="container" class="flex flex-wrap gap-20 p-20 items-center justify-center">
    <div *ngFor="let item of texts"
      [ngClass]="{
        'bg-costumLightGreen': item.done,
        'bg-costumLightBlue': !item.done
      }"
      class="relative w-80 rounded-lg border-solid border border-black text-center p-4 text-xl hover:shadow-even transition-shadow duration-200 shadow-lg">

      <p class="font-semibold text-2xl">{{ item.description }}</p>
      <p class="mt-1">{{ toneType }}</p>

      <div>
        <div
          [ngClass]="{
            'bg-costumAnfangenBtn hover:bg-costumAnfangenBtnHover': item.done,
            'bg-blue-300 hover:bg-blue-400': !item.done
          }"
          class="rounded-xl mt-4 p-1 drop-shadow-2xl duration-100 flex justify-center items-center gap-2 cursor-pointer"
          (click)="goToTask(item.description)">

          <span>Los geht's!</span>
          <span *ngIf="item.done">✔</span>

        </div>
      </div>
    </div>
  </div>
  }
  @else {
    @for (group of content()?.groups; track group['group-header']) {
      <h2 class="text-3xl font-bold mt-5 text-center">{{ group["group-header"] }}</h2>

      <div class="mt-14 text-center grid grid-cols-2 gap-y-16 gap-x-0 place-items-center w-2/3 mx-auto">
        @for (card of group['cards']; track card['card-header'];) {
          <ng-container *ngIf="!['Rhythmus', 'Akkorde', 'Tonarten', 'Versetzungszeichen', 'Hilfslinien'].includes(card['card-header']) && group['group-header'] !== 'Basschlüssel'; else lockedCard">
            <a [routerLink]="card['card-url']" class="block w-96 rounded-3xl bg-costumGray shadow-xl transition-all duration-300 transform hover:shadow-2xl hover:-translate-y-1">
              <div class="h-56 flex flex-col justify-between">
                <p class="font-semibold text-3xl pt-8 px-6 text-gray-800">
                  {{ card["card-header"] }}
                </p>
                <img [src]="card['card-image-url']" class="object-contain px-6 rounded-b-3xl mb-8 transition-transform duration-300" />
              </div>
            </a>
          </ng-container>

          <ng-template #lockedCard>
            <div class="w-96 h-56 rounded-3xl bg-gray-300 opacity-50 cursor-not-allowed shadow-lg flex flex-col justify-between">
              <p class="font-semibold text-3xl pt-8 px-6 text-gray-600">
                {{ card["card-header"] }}
              </p>
              <img [src]="card['card-image-url']" class="object-contain px-6 rounded-b-3xl mb-8" />
            </div>
          </ng-template>
        }
      </div>
    }
  }
